<div class="background">
    <div class="title clearfix">
        <a href="#/" class="fl back"></a>
        婚庆婚宴
        <a href="javascript:;" class="fr menu" ng-click="menu()"></a>
    </div>
    <div class="slideCont">
        <ul class="slideImg">
            <li class="slideImg_item">
                <img src="../BeiYuan/images/wedding.jpg" alt="">
            </li>
            <li class="slideImg_item hide">
                <img src="../BeiYuan/images/wedding.jpg" alt="">
            </li>
            <li class="slideImg_item hide">
                <img src="../BeiYuan/images/wedding.jpg" alt="">
            </li>
        </ul>
        <ul class="slideText">
            <li class="slideText_item">
                <p class="slideTxt">
                    北苑大酒店温泉水疗中心占地2万㎡，<br>
                    拥有京城北部独具特色的露天温泉，<br>
                    使用地下深采温泉水源。<br>
                    极致个性化的服务理念与全球流行的娱乐休闲方式结合
                </p>
            </li>
            <li class="slideText_item hide">
                <p class="slideTxt">
                    北苑大酒店温泉水疗中心占地2万㎡，<br>
                    拥有京城北部独具特色的露天温泉，<br>
                    使用地下深采温泉水源。<br>
                    极致个性化的服务理念与全球流行的娱乐休闲方式结合
                </p>
            </li>
            <li class="slideText_item hide">
                <p class="slideTxt">
                    北苑大酒店温泉水疗中心占地2万㎡，<br>
                    拥有京城北部独具特色的露天温泉，<br>
                    使用地下深采温泉水源。<br>
                    极致个性化的服务理念与全球流行的娱乐休闲方式结合
                </p>
            </li>
        </ul>
    </div>
    <div class="sideMenu hide">
        <div class="menuBtn"><a href="javascript:;" ng-click="menu()"></a></div>
        <ul class="sideMenu_list">
            <li class="sideMenuItem"><a href="#/">首页</a></li>
            <li class="sideMenuItem"><a href="#/entertainment">康体娱乐</a></li>
            <li class="sideMenuItem"><a href="#/exhibition">会议会展</a></li>
            <li class="sideMenuItem"><a href="#">婚庆宴会</a></li>
            <li class="sideMenuItem"><a href="#/GuestRoom">舒适客房</a></li>
            <li class="sideMenuItem"><a href="#/restaurant">餐饮美食</a></li>
            <li class="sideMenuItem"><a href="#">商务办公</a></li>
        </ul>
    </div>
</div>