<div class="background100">
    <div class="title clearfix">
        <a href="#/" class="fl back"></a>
        餐饮美食
        <a href="javascript:;" class="fr menu" ng-click="menu()"></a>
    </div>
    <ul class="list">
        <li class="list_item">
            <a href="javascript:;"><img src="../BeiYuan/images/guestRoom_1.jpg" alt=""></a>
            <p class="list_txt center">客房设施齐全、舒适 <br>
                房间色调柔和，充满东方古典韵味 <br>
                设有步入式衣帽间，休息区与工作区 <br>
                提供全方位的至尊享受。
        </li>
        <li class="list_item">
            <a href="#/guestRoom1"><img src="../BeiYuan/images/guestRoom_2.jpg" alt=""></a>
            <p class="item_txt">豪华套房</p>
        </li>
        <li class="list_item">
            <a href="#/allSeasons"><img src="../BeiYuan/images/guestRoom_3.jpg" alt=""></a>
            <p class="item_txt">行政套房</p>
        </li>
        <li class="list_item">
            <a href="#/ConferenceBuffet"><img src="../BeiYuan/images/guestRoom_4.jpg" alt=""></a>
            <p class="item_txt">豪华大床房</p>
        </li>
        <li class="list_item">
            <a href="#/buffet"><img src="../BeiYuan/images/guestRoom_5.jpg" alt=""></a>
            <p class="item_txt">精品特色房</p>
        </li>
        <li class="list_item">
            <a href="#/TeaBreak"><img src="../BeiYuan/images/guestRoom_1.jpg" alt=""></a>
            <p class="item_txt">普通大床房</p>
        </li>
        <li class="list_item">
            <a href="#/Lobbybar"><img src="../BeiYuan/images/guestRoom_2.jpg" alt=""></a>
            <p class="item_txt">标准双人间</p>
        </li>
    </ul>
    <div class="sideMenu hide">
        <div class="menuBtn"><a href="javascript:;" ng-click="menu()"></a></div>
        <ul class="sideMenu_list">
            <li class="sideMenuItem"><a href="#/">首页</a></li>
            <li class="sideMenuItem"><a href="#/entertainment">康体娱乐</a></li>
            <li class="sideMenuItem"><a href="#/exhibition">会议会展</a></li>
            <li class="sideMenuItem"><a href="#">婚庆宴会</a></li>
            <li class="sideMenuItem"><a href="#/GuestRoom">舒适客房</a></li>
            <li class="sideMenuItem"><a href="#/restaurant">餐饮美食</a></li>
            <li class="sideMenuItem"><a href="#">商务办公</a></li>
        </ul>
    </div>
</div>