<div class="background_2e1a10">
    <div class="title clearfix">
        <a href="#/guestRoom" class="fl back"></a>
        客房预定
        <a href="javascript:;" class="fr menu" ng-click="menu()"></a>
    </div>
    <div class="banner orderBanner">
        <a href="javascript:;" class="banner_item"><img class="banner_img" src="../BeiYuan/images/guestRoom_4.jpg" alt=""></a>
        <a href="javascript:;" class="banner_item"><img class="banner_img" src="../BeiYuan/images/guestRoom_1.jpg" alt=""></a>
        <p class="bannerBtn orderBannerBtn">
            <span class="banner_btn bannerBtn_active"></span>
            <span class="banner_btn"></span>
        </p>
    </div>
    <div class="orderCont">
        <div class="orderTit orderCenter">豪华套房</div>
        <div class="checkInfo Info">
            <div class="Info_item">
                房间数量
                <div class="roomNum fr">
                    <a href="#" class="orderNum orderNumLeft"></a>
                    <span class="orderNumber">1</span>
                    <a href="#" class="orderNum orderNumRight"></a>
                </div>
            </div>
            <div class="Info_item">
                入住时间：2016年10月26日
            </div>
            <div class="Info_item">
                退房时间：2016年10月27日
            </div>
            <div class="Info_item">
                备注：
                <input type="text" placeholder="如有附加需求，请填写">
            </div>
        </div>
        <div class="contactInfo Info">
            <div class="Info_item">
                联系人：
                <input type="text" placeholder="请输入姓名">
                <div class="roomNum fr">
                    <label><input type="radio" value="先生" name="sex" checked>先生</label>
                    <label><input type="radio" value="女士" name="sex">女士</label>
                </div>
            </div>
            <div class="Info_item">
                手机号：
                <input type="text" placeholder="请输入手机号">
            </div>
        </div>
        <div class="note">
            <div class="noteBtn clearfix">
                <a href="#" class="fl active">入住须知</a>
                <a href="#" class="fr">客房介绍</a>
            </div>
            <div class="noteCont">
                <div class="noteItem orderCenter">
                    <p>- 在未提供公司或信用卡担保的情况下，酒店最多保留预订至到
                        店当天下午6点（视酒店当日情况而定）</p>
                    <p>- 在担保情况下更改或取消预订请于到店当天下午6点前通知酒
                        店，酒店将有权对其未能及时取消或未抵房间收取第一晚房费</p>
                    <p>- 如改变行程提前离店请提前24小时告知前台，酒店将有权对其
                        未能及时通知取消收取一晚房费</p>
                    <p>- 对于延迟退房，酒店将按规定收取费用。 下午6点前退房，需
                        支付所付房价的50%，6点以后退房，需支付全天房价</p>
                    <p>- 酒店入住时间为下午2点，离店时间为中午12点</p>
                </div>
                <div class="noteItem hide orderCenter">
                    <p>尽享38平米安静舒适的双床客房 房间特点 房间面积38平方米 健
                        全的浴室实施，配备热带雨林式花洒 高速无线网络 46英寸 LCD
                        平板电视 配备闹钟 提供非吸烟楼层</p>
                </div>
            </div>
        </div>
        <div class="payment clearfix">
            <div class="totalMoney fl">
                总金额：<span>889￥</span>
            </div>
            <div class="payBtn fr">
                <a href="#">立即支付</a>
            </div>
        </div>
    </div>
    <div class="sideMenu hide">
        <div class="menuBtn"><a href="javascript:;" ng-click="menu()"></a></div>
        <ul class="sideMenu_list">
            <li class="sideMenuItem"><a href="#/">首页</a></li>
            <li class="sideMenuItem"><a href="#/entertainment">康体娱乐</a></li>
            <li class="sideMenuItem"><a href="#/exhibition">会议会展</a></li>
            <li class="sideMenuItem"><a href="#">婚庆宴会</a></li>
            <li class="sideMenuItem"><a href="#/GuestRoom">舒适客房</a></li>
            <li class="sideMenuItem"><a href="#/restaurant">餐饮美食</a></li>
            <li class="sideMenuItem"><a href="#">商务办公</a></li>
        </ul>
    </div>
</div>