<div class="background100">
    <div class="title clearfix">
        <a href="#/" class="fl back"></a>
        餐饮美食
        <a href="javascript:;" class="fr menu" ng-click="menu()"></a>
    </div>
    <ul class="list">
        <li class="list_item">
            <a href="javascript:;"><img src="../BeiYuan/images/restaurant_1.jpg" alt=""></a>
            <p class="list_txt center">这里的中餐火爆，西餐丰盛，日餐唯美。<br>
                中餐主打热辣湘菜，<br>
                品类多、讲实惠，品味上乘，烹调考究。<br>
                这里环境优雅，伴随美妙的音乐，全面提升老饕们的用餐享受。
        </li>
        <li class="list_item">
            <a href="#/graceNote"><img src="../BeiYuan/images/restaurant_2.jpg" alt=""></a>
            <p class="item_txt">湘苑食府</p>
        </li>
        <li class="list_item">
            <a href="#/allSeasons"><img src="../BeiYuan/images/restaurant_3.jpg" alt=""></a>
            <p class="item_txt">四季厅</p>
        </li>
        <li class="list_item">
            <a href="#/ConferenceBuffet"><img src="../BeiYuan/images/restaurant_1.jpg" alt=""></a>
            <p class="item_txt">会议自助</p>
        </li>
        <li class="list_item">
            <a href="#/buffet"><img src="../BeiYuan/images/restaurant_2.jpg" alt=""></a>
            <p class="item_txt">冷餐</p>
        </li>
        <li class="list_item">
            <a href="#/TeaBreak"><img src="../BeiYuan/images/restaurant_3.jpg" alt=""></a>
            <p class="item_txt">茶歇</p>
        </li>
        <li class="list_item">
            <a href="#/Lobbybar"><img src="../BeiYuan/images/restaurant_1.jpg" alt=""></a>
            <p class="item_txt">大堂吧</p>
        </li>
    </ul>
    <div class="sideMenu hide">
        <div class="menuBtn"><a href="javascript:;" ng-click="menu()"></a></div>
        <ul class="sideMenu_list">
            <li class="sideMenuItem"><a href="#/">首页</a></li>
            <li class="sideMenuItem"><a href="#/entertainment">康体娱乐</a></li>
            <li class="sideMenuItem"><a href="#/exhibition">会议会展</a></li>
            <li class="sideMenuItem"><a href="#">婚庆宴会</a></li>
            <li class="sideMenuItem"><a href="#/GuestRoom">舒适客房</a></li>
            <li class="sideMenuItem"><a href="#/restaurant">餐饮美食</a></li>
            <li class="sideMenuItem"><a href="#">商务办公</a></li>
        </ul>
    </div>
</div>