<div class="banquet background">
    <div class="title clearfix">
        <a href="#/exhibition" class="fl back"></a>
        多功能会议厅
        <a href="javascript:;" class="fr menu" ng-click="menu()"></a>
    </div>
    <div class="banner_show">
        <div class="banner_show_text">
            <h3>宴会厅</h3>
            <p class="font_28">面积：1100m<sup>2</sup></p>
            <p class="font_28">高8m*40m*宽25m</p>
            <p class="font_24">最多可容纳六百人用餐 <br>
                可举办婚宴、招待宴、聚会、酒会等类型。<br>
                厅堂可根据需求隔断。各具风格。
            </p>
        </div>
        <div class="banner_showImg">
            <img src="../BeiYuan/images/exhibition/exhibition_08.jpg" alt="">
            <div class="semi-circle"></div>
        </div>
    </div>
    <div class="sideMenu hide">
        <div class="menuBtn"><a href="javascript:;" ng-click="menu()"></a></div>
        <ul class="sideMenu_list">
            <li class="sideMenuItem"><a href="#/">首页</a></li>
            <li class="sideMenuItem"><a href="#/entertainment">康体娱乐</a></li>
            <li class="sideMenuItem"><a href="#/exhibition">会议会展</a></li>
            <li class="sideMenuItem"><a href="#">婚庆宴会</a></li>
            <li class="sideMenuItem"><a href="#/GuestRoom">舒适客房</a></li>
            <li class="sideMenuItem"><a href="#/restaurant">餐饮美食</a></li>
            <li class="sideMenuItem"><a href="#">商务办公</a></li>
        </ul>
    </div>
</div>